<% content_for :titulo, "Listando Entidades" %>

<% listagem_table :permissoes => Perfil::ManipularDadosDasEntidades, :headers => ['Sigla', 'Entidade'] do %>

  <% for entidade in @entidades %>
    <% listagem_tr do %>
      <td><%=h entidade.sigla %></td>
      <td><%= link_to h(entidade.nome), entidade %></td>
    <%  end %>
  <% end %>


<% end %>
