<tbody>
  <tr align="center">
    <td><%= h ocorrencias.data_do_evento %></td>
    <td><%= h ocorrencias.historico %></td>
    <td><%= h ocorrencias.tipo_da_ocorrencia_verbose %></td>
    <td><p><%= h ocorrencias.alinea_verbose rescue nil %></p></td>
  </tr>
</tbody>
