<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Sistema FIEMT - Gerenciador Financeiro - 
      <% if logged_in? %>
        <%=h session[:ano] %>
        <%=h sigla_da_unidade_da_sessao.nome %>
      <% end %>
      [v. 2.9.100]
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'inovare',"modalbox", "calendar_date_select", 'menu', :cache=> true %>
    <% if false %> <link rel="shortcut icon" href="/images/favicon.ico" /> <% end %>
    <%= javascript_include_tag :defaults, 'menu', "masks","modalbox","calendar_date_select", "calendar_date_select_format_br", :cache=>true %>
    <%= stylesheet_link_tag 'print', :media => 'print' %>
    <!--[if IE]>
    <%= stylesheet_link_tag 'inovare_ie' %>
    <![endif]-->
  </head>
  <body>
    <div id="secao_interna">
      <% if logged_in? %>
        <p id="dados_login" class="print">
          Bem vindo, <%=h current_usuario.login %><br /><%= link_to link_to image_tag('layout/x.gif') + ' Alterar sua senha', carrega_form_alterar_senha_usuario_path(:id => current_usuario.id) %><span>|</span><%= link_to image_tag('layout/x.gif') + ' Sair', logout_path %>
        </p>
        <%#= auto_session_timeout_js :frequency => 20 %>
      <% end %>
      <p id="cabecalho_fiemt">Sistema FIEMT | Sistema de Gerenciamento Financeiro</p>
      <%= image_tag "layout/fiemt.gif", :class => 'print_logo' %>

      <% unless esta_na_tela_de_login %>

        <div id="menu">
          <ul class="level1" id="root">

            <% if verifica_acesso_do_menu('Contas a Receber') %>
              <li>
                <a href="#">Contas a Receber</a>
                <ul class="level2 menu_maior">
                  <li><%= link_to 'Controle de Contas a Receber', recebimento_de_contas_path %></li>
                  <li><%= link_to 'Agendar Compromissos / Compromissos do Dia', compromissos_path %></li>
                  <li>
                    <a href="#">Cheques</a>
                    <ul class="level3 menu_maior">
                      <li><%= link_to 'Cheques à Vista e Pré Datados', cheques_path %></li>
                    </ul>
                  </li>
                  <li><%= link_to 'Controle de Cartões', cartoes_path %></li>
                  <li><%= link_to 'Consulta Inadimplência', consulta_inadimplencia_recebimento_de_contas_path %></li>
                  <% if current_usuario.possui_permissao_para(Perfil::AnaliseContratos) %>
                    <li><%= link_to 'Contabilização das Receitas', analise_contratos_recebimento_de_contas_path %></li>
                    <li><%= link_to 'Alteração de Contas para Contabilização', alteracao_contas_relatorios_path %></li>
                  <% end %>
                  <% if current_usuario.possui_permissao_para(Perfil::PararServico) %>
                    <li><%= link_to 'Iniciar Serviços', pesquisar_servicos_para_inicio_em_lote_recebimento_de_contas_path %></li>
                  <% end %>
                  <% if current_usuario.possui_permissao_para(Perfil::ProrrogarContrato) %>
                    <li><%= link_to 'Prorrogação de Contrato', prorrogar_servicos_path %></li>
                  <% end %>
                     <% if current_usuario.possui_permissao_para(Perfil::CancelarAgendamento) %>
                        <li><%=link_to 'Cancelamento de Agendamento de Contabilização',listagem_agendamentos_contabilizacao_recebimento_de_contas_path%></li>
                    <%end%>
                </ul>
              </li>
            <% end %>

            <% if verifica_acesso_do_menu('Contas a Pagar')  %>
              <li>
                <a href="#">Contas a Pagar</a>
                <ul class="level2 menu_maior">
                  <% if current_usuario.possui_permissao_para(Perfil::PagamentoDeContas) %>
                    <li><%= link_to 'Controle de Contas a Pagar', pagamento_de_contas_path %></li>
                  <%  end %>
                  <% if current_usuario.possui_permissao_para(Perfil::ArquivoRemessa) %>
                    <li><%= link_to 'Arquivos de Remessas', arquivo_remessas_path %></li>
                  <%  end %>
                </ul>
              </li>
            <% end %>

            <% if verifica_acesso_do_menu('Movimento Financeiro') %>
              <li>
                <a href="#">Movimento Financeiro</a>
                <ul class="level2 menu_maior">
                  <li><%= link_to 'Lançamentos Diários', movimentos_path %></li>
                  <li><%= link_to 'Lançar Estornos', lancar_estornos_de_movimentos_movimentos_path %></li>
                </ul>
              </li>
            <% end %>

            <% if verifica_acesso_do_menu('Relatórios') %>
              <li>
                <a href="#">Relatórios</a>
                <ul class="level2">
                  <% if current_usuario.possui_permissao_para_um_item(Perfil::ConsultarRelatoriosContasAReceber) %>
                    <li>
                      <a href="#">Contas a Receber</a>
                      <ul class="level3 menu_maior">
                        <li><%= link_to 'Gerais', contas_a_receber_geral_relatorios_path %></li>
                        <li><%= link_to 'Agendamentos', agendamentos_relatorios_path %></li>
                        <li><%= link_to 'Cartas Emitidas', cartas_emitidas_relatorios_path %></li>
                        <li><%= link_to 'Clientes', contas_a_receber_cliente_historico_relatorios_path %></li>
                        <li><%= link_to 'Clientes - Visão Contábil', contas_a_receber_cliente_visao_contabil_relatorios_path %></li>
                        <li><%= link_to 'Clientes ao SPC', clientes_ao_spc_relatorios_path %></li>
                        <li><%= link_to 'Clientes Inadimplentes', clientes_inadimplentes_relatorios_path %></li>
                        <li><%= link_to 'Contabilização das Receitas', contabilizacao_receitas_relatorios_path %></li>
                        <li><%= link_to 'Controle de Cartões', controle_de_cartao_relatorios_path %></li>
                        <li><%= link_to 'Emissão de Cartas / Geração de Etiquetas', emissao_cartas_relatorios_path %></li>
                        <% if current_usuario.possui_permissao_para(Perfil::EnviarParcelasAoDR) %>
                          <li><%= link_to 'Envio ao DR / Devedores Duvidosos Ativos', parcelas_operacoes_recebimento_de_contas_path %></li>
                          <li><%= link_to 'Enviadas ao DR', enviadas_para_dr_recebimento_de_contas_path %></li>
                        <% end %>
                        <li><%= link_to 'Evasão', evasao_relatorios_path %></li>
                        <li><%= link_to 'Relatório de Vendas', contratos_vendidos_relatorios_path %></li>
                        <li><%= link_to 'Faturamento', faturamento_relatorios_path %></li>
                        <li><%= link_to 'Evadidos/Cancelados', cancelados_evadidos_relatorios_path %></li>
                        <li><%= link_to 'Histórico de Renegociações', historico_renegociacoes_relatorios_path %></li>
                        <li><%= link_to 'Produtividade Funcionário', produtividade_funcionario_relatorios_path %></li>
                        <li><%= link_to 'Receitas por Procedimento', receitas_por_procedimento_relatorios_path %></li>
                        <li><%= link_to 'Recuperação de Crédito', recuperacao_credito_relatorios_path %></li>
                        <li><%= link_to 'Totalizações', totalizacao_relatorios_path %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if current_usuario.possui_permissao_para_um_item(Perfil::ConsultarRelatoriosContasAPagar) %>
                    <li>
                      <a href="#">Contas a Pagar</a>
                      <ul class="level3 menu_maior">
                        <li><%= link_to 'Geral', contas_a_pagar_geral_relatorios_path %></li>
                        <li><%= link_to 'Fornecedores', contas_a_pagar_visao_contabil_relatorios_path %></li>
                        <li><%= link_to 'Retenção de Impostos', contas_a_pagar_retencao_impostos_relatorios_path %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if current_usuario.possui_permissao_para_um_item(Perfil::ConsultarRelatoriosContabilizacao) %>
                    <li>
                      <a href="#">Contabilização</a>
                      <ul class="level3 menu_maior">
                        <li><%= link_to 'Contabilização da Ordem', contabilizacao_ordem_relatorios_path %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if current_usuario.possui_permissao_para_um_item(Perfil::ConsultarRelatoriosCheque) %>
                    <li><%= link_to 'Cheques', contabilizacao_de_cheques_relatorios_path %></li>
                  <% end %>
                  <% if current_usuario.possui_permissao_para_um_item(Perfil::ConsultarRelatoriosContasCorrentes) %>
                    <li>
                      <a href="#">Contas Correntes</a>
                      <ul class="level3 menu_maior">
                        <li><%= link_to 'Disponibilidade Efetiva', disponibilidade_efetiva_relatorios_path %></li>
                        <li><%= link_to 'Extrato de Contas', extrato_contas_relatorios_path %></li>
                        <li><%= link_to 'Extrato de Contas - BETA', extrato_contas_beta_relatorios_path %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if current_usuario.possui_permissao_para_um_item(Perfil::ConsultaDeTransacoes) %>
                    <li><%= link_to 'Consulta de Transações', follow_up_cliente_relatorios_path %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>

            <% if verifica_acesso_do_menu('Cadastros') %>
              <li>
                <a href="#">Cadastros</a>
                <ul class="level2">
                  <% if current_usuario.possui_permissao_para_um_item(Perfil::Entidades,
                      Perfil::Unidades, Perfil::Servicos) %>
                    <li>
                      <a href="#">Estrutura SFIEMT</a>
                      <ul class="level3">
                        <% if current_usuario.possui_permissao_para(Perfil::Entidades) %>
                          <li><%= link_to 'Casas do SFIEMT', entidades_path %></li>
                        <% end %>
                        <% if current_usuario.possui_permissao_para(Perfil::Servicos) %>
                          <li><%= link_to 'Serviços', servicos_path %></li>
                        <% end %>
                        <% if current_usuario.possui_permissao_para(Perfil::Unidades) %>
                          <li><%= link_to 'Unidades', unidades_path %></li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                  <% if current_usuario.possui_permissao_para_um_item(Perfil::Servicos, Perfil::Bancos,
                      Perfil::Agencias, Perfil::ContasCorrentes, Perfil::Historicos) %>
                    <li>
                      <a href="#">Financeira</a>
                      <ul class="level3">
                        <% if current_usuario.possui_permissao_para(Perfil::Agencias) %>
                          <li><%= link_to 'Agências', agencias_path %></li>
                        <% end %>
                        <% if current_usuario.possui_permissao_para(Perfil::Bancos) %>
                          <li><%= link_to 'Bancos', bancos_path %></li>
                        <% end %>
                        <% if current_usuario.possui_permissao_para(Perfil::ContasCorrentes) %>
                          <li><%= link_to 'Contas Correntes', contas_correntes_path %></li>
                        <% end %>
                        <% if current_usuario.possui_permissao_para(Perfil::Convenios) %>
                          <li><%= link_to 'Convênios', convenios_path %></li>
                        <% end %>
                        <% if current_usuario.possui_permissao_para(Perfil::Historicos) %>
                          <li><%= link_to 'Históricos', historicos_path %></li>
                        <% end %>
                        <% if current_usuario.possui_permissao_para(Perfil::Impostos) %>
                          <li><%= link_to 'Impostos', impostos_path %></li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                  <% if current_usuario.possui_permissao_para_um_item(Perfil::Pessoas,
                      Perfil::Usuarios, Perfil::Localidades, Perfil::PerfisDeAcesso) %>
                    <li>
                      <a href="#">Gerais</a>
                      <ul class="level3">
                        <% if current_usuario.possui_permissao_para(Perfil::Pessoas) %>
                          <li><%= link_to 'Pessoas', pessoas_path %></li>
                        <% end %>
                        <% if current_usuario.possui_permissao_para(Perfil::Localidades) %>
                          <li><%= link_to 'Localidades', localidades_path %></li>
                        <% end %>
                        <% if (current_usuario.possui_permissao_para(Perfil::PerfisDeAcesso) ||
                              (current_usuario.possui_permissao_para(Perfil::ManipularPerfisDeAcesso))) %>
                          <li><%= link_to 'Perfis de Acesso', perfis_path %></li>
                        <% end %>
                        <% if current_usuario.possui_permissao_para(Perfil::Usuarios) %>
                          <li><%= link_to 'Usuários', usuarios_path %></li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>

            <% if verifica_acesso_do_menu('Utilitários') %>
              <li>
                <a href="#">Utilitários</a>
                <ul class="level2 menu_maior">
                  <% if current_usuario.possui_permissao_para(Perfil::AlterarAno) %>
                    <li><%= link_to_function 'Alterar Ano', "Modalbox.show($('form_para_alterar_ano'), {title: 'Alterar Ano'});" %></li>
                  <% end %>
                  <% if current_usuario.possui_permissao_para(Perfil::AlterarUnidade) %>
                    <li><%= link_to_function 'Alterar Unidade', "Modalbox.show($('form_para_alterar_unidade'), {title: 'Alterar Unidade'});" %></li>
                  <% end %>
                  <% if current_usuario.possui_permissao_para(Perfil::Auditoria) %>
                    <li><%= link_to 'Auditoria', audits_path %></li>
                  <% end %>
                  <% if current_usuario.possui_permissao_para(Perfil::Configuracao) %>
                    <li><%= link_to 'Configurações Gerais', edit_configuracao_path %></li>
                  <% end %>
                  <% if current_usuario.possui_permissao_para(Perfil::DeParaEntreAnosDoOrcamento) %>
                    <li>
                      <a href="#">De-para do orçamento</a>
                      <ul class="level3">
                        <li><%= link_to 'Centros de Responsabilidade', de_para_path('centros') %></li>
                        <li><%= link_to 'Unidades Organizacionais' , de_para_path('unidade_organizacionais') %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if current_usuario.possui_permissao_para(Perfil::RealizarExportacaoZeus) %>
                    <li><%= link_to 'Exportação Zeus-Contabilidade', exportar_para_zeus_movimentos_path %></li>
                  <% end %>
                  <% if current_usuario.possui_permissao_para(Perfil::RealizarImportacaoZeus) %>
                    <li><%= link_to 'Importação Zeus-Contabilidade', importar_zeus_unidades_path %></li>
                  <% end %>
                  <% if current_usuario.possui_permissao_para(Perfil::ParametroContaValor) %>
                    <li><%= link_to 'Importação de Contratos de Contas a Receber (XML)', importacao_de_contratos_via_xml_recebimento_de_contas_path %></li>
                  <% end %>
                  <% if current_usuario.possui_permissao_para(Perfil::ParametroContaValor) %>
                    <li><%= link_to 'Parâmetros Conta/Valor', parametro_conta_valores_path %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>

        <% if current_usuario.possui_permissao_para(Perfil::AlterarAno) %>
          <div id="form_para_alterar_ano" style="display:none">
            <% form_remote_tag :url => {:action => "altera_ano", :controller => "sessao"}, :loading => "Element.show('loading_form');", :success => "Element.hide('loading_form');" do %>
              <p>Ano</p>
              <p><%= text_field_tag :ano, session[:ano], :onkeyup => "this.value = this.value.replace(/[a-z]/g,'');" %></p>
              <p><%= submit_tag 'Salvar' %><%= button_to_function 'Cancelar', 'Modalbox.hide()' %><%= image_tag('loading.gif', :id => "loading_form", :style => "display:none") %></p>
            <% end %>
          </div>
        <% end %>

        <% if current_usuario.possui_permissao_para(Perfil::AlterarUnidade) %>
          <div id="form_para_alterar_unidade" style="display:none">
            <% form_remote_tag :url => {:action => "altera_unidade", :controller => "sessao"}, :loading => "Element.show('loading_form');", :success => "Element.hide('loading_form');" do %>
              <p>Unidade</p>
              <p><%= select_tag :unidade_id,options_for_select(Unidade.retorna_unidade_para_select_com_entidade(current_usuario), sigla_da_unidade_da_sessao.id)%></p>
              <p><%= submit_tag 'Salvar' %><%= button_to_function 'Cancelar', 'Modalbox.hide()' %><%= image_tag('loading.gif', :id => "loading_form", :style => "display:none") %></p>
            <% end %>
          </div>
        <% end %>

      <% end %>
      <div id="conteudo">
        <% if yield(:titulo) %>
          <h1><%= h yield(:titulo) %></h1>
        <% end %>
        <% if yield(:subtitulo) %>
          <h2><%= yield :subtitulo %></h2>
        <% end %>
        <%= yield %>
        <p id="rodape">Sistema de Gerenciamento Financeiro - FIEMT</p>
      </div>
    </div>
  </body>
  <% if flash[:notice]  %>
    <%=  update_page_tag do |page|
      page.alert flash[:notice].untaint
    end %>
  <% end %>
</html>
